Repository isdi-coders-2023/Pijamas-Elegantes-202301-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Reset global styles
  package-lock.json
  package.json
  src/App.tsx
  src/index.css
  src/index.tsx
Due: eslint, prettier --write

Add Context provider component
  src/data/types.ts
  src/store/games/GameContext.ts
  src/store/games/GameContextProvider.tsx
Due: eslint, prettier --write

add env file
  .env
Due: none

Add redux cycle for loadGames function
  src/data/types.ts
  src/index.tsx
  src/setupTests.ts
  src/store/actions/games/GamesActionCreators.ts
  src/store/actions/games/types.ts
  src/store/contexts/games/GameContext.ts
  src/store/contexts/games/GameContextProvider.tsx
  src/store/games/GameContext.ts
  src/store/games/GameContextProvider.tsx
  src/store/reducers/gamesReducer.ts
Due: eslint, prettier --write

add function to fetch from API on AppTSX
  .husky/pre-commit
  src/App.tsx
  src/data/types.ts
  src/index.css
Due: eslint, prettier --write

Create custom hook useApi
  src/App.tsx
  src/components/hook/useApi.ts
Due: eslint, prettier --write

Add GameCard component
  package-lock.json
  package.json
  src/components/GameCard.tsx
  src/components/GameCardStyled.tsx
  src/index.css
  src/store/games/GameContext.ts
Due: eslint, prettier --write

Add GameCard component
  .env
  .husky/pre-commit
  package-lock.json
  package.json
  src/App.tsx
  src/components/GameCard.tsx
  src/components/GameCardStyled.tsx
  src/components/hook/useApi.ts
  src/data/types.ts
  src/index.css
  src/store/games/GameContext.ts
Due: eslint, prettier --write

Modify url to insert page number add function to change page number
  src/App.tsx
  src/components/hook/useApi.ts
  src/store/contexts/games/GameContext.ts
  src/store/contexts/games/GameContextProvider.tsx
Due: eslint, prettier --write

Add loadGames function to useApi return statement
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  src/App.tsx
  src/components/hook/useApi.ts
Due: eslint, prettier --write

create pagination create generic button remove unused contet
  package-lock.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Pagination/Pagination.tsx
  src/hook/useApi.ts
  src/store/contexts/games/GameContext.ts
  src/store/contexts/games/GameContextProvider.tsx
  src/store/games/GameContext.ts
Due: eslint, prettier --write

Add accessibility test of GameCard component
  src/components/GameCard/GameCard.test.tsx
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/GameCardStyled.tsx
Due: eslint, prettier --write

refactor and fix Pagination previous and next page functions
  .env
  .gitignore
  src/App.tsx
  src/components/Pagination/Pagination.tsx
  src/hook/useApi.ts
Due: eslint, prettier --write

Refactor component files into single components.md
  .gitignore
  404Components.md
  addGamePageComponents.md
  components.md
  detailPageComponents.md
  editGamePageComponents.md
  homePageComponents.md
  libraryComponents.md
Due: prettier --write

Stopped tracking .env
  .env
Due: none

Change imports statements in modules
  .gitignore
  src/App.tsx
  src/components/hook/useApi.ts
  src/store/contexts/games/GameContext.ts
  src/store/contexts/games/GameContextProvider.tsx
Due: eslint, prettier --write

Add favicon
  .gitignore
  public/favicon.png
  public/index.html
Due: prettier --write

Style pagination buttons
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationStyled.tsx
Due: eslint, prettier --write

Test loadGamesActionCreator function
  src/data/types.ts
  src/store/actions/games/GamesActionCreators.test.ts
Due: eslint, prettier --write

Add Pagination Test
  .env
  package.json
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationStyled.tsx
Due: eslint, prettier --write

Add workflow for testing
  .github/workflows/testing.yml
Due: prettier --write

Delete trailings slashes in head
  public/index.html
Due: prettier --write

Test reducer for loadGames & unknown actions
  .env
  public/index.html
  src/App.tsx
  src/store/reducers/gamesReducer.test.ts
Due: eslint, prettier --write

Add generic Button component test
  src/components/Button/Button.test.tsx
Due: eslint, prettier --write

Delete trailing slashes of head
  public/index.html
Due: prettier --write

Add GameCardList component and its styles
  .lintstagedrc.json
  src/App.tsx
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/GameCardStyled.tsx
  src/components/GameCardList/GameCardList.tsx
  src/components/GameCardList/GameCardListStyled.tsx
  src/data/types.ts
  src/index.css
Due: eslint, prettier --write

Add test for coverage of useApi
  package-lock.json
  package.json
  src/components/Pagination/Pagination.test.tsx
  src/hooks/useApi.test.ts
  src/hooks/useApi.ts
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
  src/store/actions/games/GamesActionCreators.test.ts
  src/store/contexts/games/GameContextProvider.tsx
  src/store/reducers/gamesReducer.test.ts
Due: eslint, prettier --write

Delete .env from repo
  .env
Due: none

Load cards into cardlist
  src/components/GameCardList/GameCardList.tsx
Due: eslint, prettier --write

Add handlers for msw
  src/mocks/handlers.js
Due: none

Add server for msw
  src/mocks/server.js
  src/setupTests.ts
Due: eslint, prettier --write

Add mock store
  src/mocks/store.tsx
Due: eslint, prettier --write

Edit generic Button component so it can be disabled edit its test
  .vscode/launch.json
  src/App.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationStyled.tsx
Due: eslint, prettier --write

Add mock ContextProvider
  src/mocks/ContextProvider.tsx
Due: eslint, prettier --write

Add mock UseApi loadGames to PaginationTest to test pagination buttons
  .gitignore
  .vscode/launch.json
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
Due: eslint, prettier --write

Add page props to Pagination on App
  src/App.tsx
Due: eslint, prettier --write

Add test for useApi hook loadgames fn 200 response
  src/hooks/useApi.test.ts
  src/hooks/useApi.test.tsx
  src/mocks/MockContextProvider.tsx
  src/mocks/handlers.js
  src/mocks/store.tsx
Due: eslint, prettier --write

Add errorHandlers to msw server
  src/mocks/handlers.js
Due: none

Test GameCarList component
  package-lock.json
  package.json
  src/App.tsx
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/GameCardStyled.tsx
  src/components/GameCardList/GameCardList.test.tsx
  src/components/GameCardList/GameCardList.tsx
  src/components/GameCardList/GameCardListStyled.tsx
  src/components/Pagination/Pagination.tsx
  src/data/types.ts
  src/mocks/gamesMocks.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,json,md,html,yml}
